//Created by GHostEater on 01-Feb-17.
div(ng-controller="UserLoginCtrl as vm")
    .row
        section.col-sm-4.col-sm-offset-4
            form(name="form")
                .panel.panel-primary
                    .panel-heading Login
                    .panel-body
                        small.text-danger(ng-show="vm.userError === true") Username is Incorrect
                        input.form-control(type="text" ng-model="vm.username" placeholder="Username")
                        small.text-danger(ng-show="vm.passError === true") Password is Incorrect
                        input.form-control(type="password" ng-model="vm.password" placeholder="Password")
                        button.btn.btn-primary.form-control(ng-click="vm.login(vm.username,vm.password)") Login